{% extends 'base.html' %}

{% block content %}
<div id="content">
    <div class="row medium-11 large-8 columns">
        {% for post in posts %}
            <div class="blog-post">
                <h3><a href="{% url 'post' post.slug %}">{{ post.title }}</a> <small>{{ post.posted_date|date:"DATE_FORMAT" }}</small></h3>
                {% if post.image %}<img class="thumbnail" src="{{ post.image.url }}">{% endif %}
                <p>{{ post.markdown|safe }}</p>
                <ul class="menu simple">
                    <li><small>Author: Kamal Daniels</small></li>
                </ul>
            </div>
        {% endfor %}

        {% if specific_post %}
            <a href="/">Read more from Kamal's Blog</a>
        {% endif %}
    </div>
</div>
{% endblock %}