{% extends 'base.html' %}

{% block content %}
<div id="content">
    <div class="row medium-8 large-7 columns">
        {% for post in posts %}
            <div class="blog-post">
                <h3>{{ post.title }} <small>{{ post.posted_date }}</small></h3>

                {% if post.image %}<img class="thumbnail" src="{{ post.image.url }}">{% endif %}
                <p>{{ post.content }}</p>
                <div class="callout">
                    <ul class="menu simple">
                        <li><a href="#">Author: Kamal Daniels</a></li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}